In [1]:
import numpy as np
import pandas as pd
cars = pd.read_csv('samochody1tys.csv')

In [2]:
#wyświetlenie zawartości pliku
cars

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
0,0,Nissan,X-Trail III,2014.0,Diesel,1600.0,160000.0,75900.0,Dolnośląskie
1,1,BMW,X1 E84,2012.0,Diesel,2000.0,149000.0,70900.0,Świętokrzyskie
2,2,Opel,Zafira A,2004.0,Benzyna+CNG,1600.0,99000.0,9800.0,Opolskie
3,3,Hyundai,i10 I,2008.0,Benzyna,1100.0,93000.0,11900.0,Łódzkie
4,4,Volkswagen,CC,2010.0,Diesel,1968.0,127428.0,49900.0,Wielkopolskie
...,...,...,...,...,...,...,...,...,...
995,995,Alfa Romeo,159,2009.0,Diesel,2387.0,182000.0,33900.0,Małopolskie
996,996,Škoda,Fabia II,2012.0,Benzyna,1200.0,42700.0,25400.0,Lubelskie
997,997,Renault,Modus,2004.0,Benzyna,1200.0,168111.0,10900.0,Łódzkie
998,998,Audi,A3 8L,2000.0,Benzyna,1595.0,226500.0,5400.0,Małopolskie
999,999,Volvo,XC 60 I,2016.0,Diesel,1969.0,13617.0,136900.0,Małopolskie

In [4]:
#wyświetlenie pięciu pierwszych wierszy
cars.head()

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
0,0,Nissan,X-Trail III,2014.0,Diesel,1600.0,160000.0,75900.0,Dolnośląskie
1,1,BMW,X1 E84,2012.0,Diesel,2000.0,149000.0,70900.0,Świętokrzyskie
2,2,Opel,Zafira A,2004.0,Benzyna+CNG,1600.0,99000.0,9800.0,Opolskie
3,3,Hyundai,i10 I,2008.0,Benzyna,1100.0,93000.0,11900.0,Łódzkie
4,4,Volkswagen,CC,2010.0,Diesel,1968.0,127428.0,49900.0,Wielkopolskie

In [6]:
#wyświetlenie konkretnego rekordu
cars.iloc[156]

id                           156
marka                    Renault
model                    Clio IV
rok_produkcji               2017
rodzaj_silnika           Benzyna
pojemnosc_silnika            898
przebieg                       9
cena                       54960
wojewodztwo          Mazowieckie
Name: 156, dtype: object

In [7]:
#Wyświetlanie ostatnich 8 rekordów 
cars.tail(8)

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
992,992,Renault,Clio IV,2017.0,Benzyna,898.0,1.0,58000.0,Śląskie
993,993,Fiat,Tipo II,2017.0,Benzyna,1400.0,2.0,47350.0,Mazowieckie
994,994,Fiat,Bravo II,2007.0,Diesel,1910.0,217200.0,18900.0,Świętokrzyskie
995,995,Alfa Romeo,159,2009.0,Diesel,2387.0,182000.0,33900.0,Małopolskie
996,996,Škoda,Fabia II,2012.0,Benzyna,1200.0,42700.0,25400.0,Lubelskie
997,997,Renault,Modus,2004.0,Benzyna,1200.0,168111.0,10900.0,Łódzkie
998,998,Audi,A3 8L,2000.0,Benzyna,1595.0,226500.0,5400.0,Małopolskie
999,999,Volvo,XC 60 I,2016.0,Diesel,1969.0,13617.0,136900.0,Małopolskie

In [8]:
#wyswietlenie indeksu
cars.index

RangeIndex(start=0, stop=1000, step=1)

In [9]:
#wyświetlenie rekordów z danego przedziału
cars[145:177]

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
145,145,BMW,Seria 3 F30,2015.0,Diesel,2000.0,178200.0,89800.0,Małopolskie
146,146,Volvo,V40 I,2000.0,Diesel,1900.0,205000.0,6900.0,Mazowieckie
147,147,Seat,Leon I,2001.0,Benzyna,1600.0,197233.0,10999.0,Świętokrzyskie
148,148,Ford,Mondeo Mk3,2004.0,Benzyna,2000.0,119000.0,13900.0,Dolnośląskie
149,149,Hyundai,Tucson II,2017.0,Diesel,2000.0,2510.0,144900.0,Śląskie
150,150,Renault,Megane III,2009.0,Benzyna,1598.0,94000.0,26900.0,Świętokrzyskie
151,151,Audi,R8,2008.0,Benzyna,4200.0,55800.0,239900.0,Małopolskie
152,152,Volkswagen,Golf VI,2009.0,Benzyna,1600.0,196000.0,26900.0,Wielkopolskie
153,153,Audi,A5 F5,2017.0,Diesel,1968.0,1400.0,240900.0,Małopolskie
154,154,Toyota,Avensis II,2008.0,Benzyna,1794.0,168600.0,28500.0,Lubelskie
155,155,Peugeot,208,2016.0,Benzyna,1199.0,22372.0,39900.0,Wielkopolskie
156,156,Renault,Clio IV,2017.0,Benzyna,898.0,9.0,54960.0,Mazowieckie
157,157,Toyota,Corolla Seria,2003.0,Diesel,1995.0,232000.0,11900.0,Małopolskie
158,158,Ford,Focus Mk3,2015.0,Diesel,1600.0,147829.0,47900.0,Małopolskie
159,159,Škoda,Superb III,2016.0,Diesel,2000.0,15000.0,152900.0,Śląskie
160,160,Mercedes-Benz,Klasa C W204,2012.0,Benzyna,6208.0,59000.0,169900.0,Małopolskie
161,161,Smart,Roadster,2003.0,Benzyna,700.0,63000.0,16000.0,Lubuskie
162,162,Honda,CR-V IV,2017.0,Benzyna,2000.0,1.0,131900.0,Mazowieckie
163,163,Toyota,Yaris I,2001.0,Benzyna,1000.0,156000.0,6490.0,Kujawsko-pomorskie
164,164,Honda,Civic VII,2004.0,Benzyna,1389.0,164000.0,11800.0,Dolnośląskie
165,165,Mazda,6 I,2007.0,Diesel,1998.0,218805.0,12999.0,Zachodniopomorskie
166,166,BMW,Seria 1 F20,2016.0,Diesel,1496.0,2360.0,109990.0,Kujawsko-pomorskie
167,167,Fiat,Tipo II,2016.0,Benzyna,1368.0,1.0,65900.0,Lubelskie
168,168,Peugeot,5008 I,2014.0,Diesel,1600.0,132000.0,39900.0,Wielkopolskie
169,169,Kia,Picanto II,2017.0,Benzyna,1200.0,1.0,55890.0,Wielkopolskie
170,170,Hyundai,ix35,2011.0,Benzyna,1998.0,172000.0,47900.0,Mazowieckie
171,171,Peugeot,308 T7,2009.0,Diesel,1600.0,135571.0,19900.0,Śląskie
172,172,Volkswagen,Golf VII,2017.0,Benzyna,1400.0,1.0,89900.0,Pomorskie
173,173,Porsche,Panamera,2010.0,Benzyna,4800.0,129300.0,138000.0,Mazowieckie
174,174,Škoda,Octavia II,2011.0,Diesel,2000.0,214000.0,30000.0,Mazowieckie
175,175,Peugeot,307 II,2006.0,Benzyna+LPG,2000.0,131000.0,16800.0,Śląskie
176,176,Renault,Grand Scenic IV,2015.0,Diesel,1600.0,27500.0,69900.0,Pomorskie

In [12]:
#wyświetlenie rekordów z danego przedziału z wybranymi kolumnami
cars.loc[145:177,['id','marka', 'model','rok_produkcji', 'cena']]

      id          marka            model  rok_produkcji      cena
145  145            BMW      Seria 3 F30         2015.0   89800.0
146  146          Volvo            V40 I         2000.0    6900.0
147  147           Seat           Leon I         2001.0   10999.0
148  148           Ford       Mondeo Mk3         2004.0   13900.0
149  149        Hyundai        Tucson II         2017.0  144900.0
150  150        Renault       Megane III         2009.0   26900.0
151  151           Audi               R8         2008.0  239900.0
152  152     Volkswagen          Golf VI         2009.0   26900.0
153  153           Audi            A5 F5         2017.0  240900.0
154  154         Toyota       Avensis II         2008.0   28500.0
155  155        Peugeot              208         2016.0   39900.0
156  156        Renault          Clio IV         2017.0   54960.0
157  157         Toyota    Corolla Seria         2003.0   11900.0
158  158           Ford        Focus Mk3         2015.0   47900.0
159  159          Škoda       Superb III         2016.0  152900.0
160  160  Mercedes-Benz     Klasa C W204         2012.0  169900.0
161  161          Smart         Roadster         2003.0   16000.0
162  162          Honda          CR-V IV         2017.0  131900.0
163  163         Toyota          Yaris I         2001.0    6490.0
164  164          Honda        Civic VII         2004.0   11800.0
165  165          Mazda              6 I         2007.0   12999.0
166  166            BMW      Seria 1 F20         2016.0  109990.0
167  167           Fiat          Tipo II         2016.0   65900.0
168  168        Peugeot           5008 I         2014.0   39900.0
169  169            Kia       Picanto II         2017.0   55890.0
170  170        Hyundai             ix35         2011.0   47900.0
171  171        Peugeot           308 T7         2009.0   19900.0
172  172     Volkswagen         Golf VII         2017.0   89900.0
173  173        Porsche         Panamera         2010.0  138000.0
174  174          Škoda       Octavia II         2011.0   30000.0
175  175        Peugeot           307 II         2006.0   16800.0
176  176        Renault  Grand Scenic IV         2015.0   69900.0
177  177     Volkswagen             Bora         2000.0    7900.0

In [14]:
#wyświetla konkretną kolumnę
cars['model']

0      X-Trail III
1           X1 E84
2         Zafira A
3            i10 I
4               CC
          ...
995            159
996       Fabia II
997          Modus
998          A3 8L
999        XC 60 I
Name: model, Length: 1000, dtype: object

In [20]:
#wyświetlenie konkretnych rekordów pokazując wybrane kolumny
cars.iloc[[0,4,168,222,368,433,611,750,999],[1,2,3,7]]

          marka        model  rok_produkcji      cena
0        Nissan  X-Trail III         2014.0   75900.0
4    Volkswagen           CC         2010.0   49900.0
168     Peugeot       5008 I         2014.0   39900.0
222        Audi        A6 C7         2016.0  219000.0
368     Hyundai        I30 I         2010.0   19999.0
433       Dacia   Sandero II         2016.0   49000.0
611   Chevrolet       Camaro         1979.0   36000.0
750       Škoda        RAPID         2016.0   55900.0
999       Volvo      XC 60 I         2016.0  136900.0

In [22]:
#wyświelenie wszystkich kolumn wskazanego zakresu
cars.iloc[100:122, :]

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
100,100,Volkswagen,Touran I,2003.0,Benzyna,1598.0,151000.0,15000.0,Kujawsko-pomorskie
101,101,Hyundai,i10 I,2009.0,Benzyna,1100.0,97000.0,10500.0,Śląskie
102,102,Mitsubishi,ASX,2014.0,Diesel,1798.0,70346.0,60900.0,Śląskie
103,103,Audi,A4 B7,2007.0,Diesel,2000.0,223000.0,19900.0,Wielkopolskie
104,104,Opel,Antara,2009.0,Diesel,2000.0,189076.0,31900.0,Mazowieckie
105,105,Suzuki,Alto,2002.0,Benzyna,1100.0,72900.0,4300.0,Zachodniopomorskie
106,106,Citroën,Berlingo I,2005.0,Diesel,1868.0,230000.0,9999.0,Lubuskie
107,107,Volkswagen,Polo III,2001.0,Benzyna,1400.0,160000.0,6900.0,Mazowieckie
108,108,Opel,Zafira B,2009.0,Diesel,1900.0,167000.0,21500.0,Kujawsko-pomorskie
109,109,Peugeot,2008,2017.0,Benzyna,1199.0,4.0,68600.0,Podlaskie
110,110,Volkswagen,Touran I,2005.0,Diesel,1900.0,211000.0,15500.0,Podkarpackie
111,111,Renault,Megane II,2007.0,Benzyna,1600.0,147000.0,14900.0,Śląskie
112,112,Mazda,3 II,2009.0,Diesel,1560.0,138000.0,26900.0,Śląskie
113,113,Mercedes-Benz,GLE,2017.0,Diesel,2987.0,10000.0,335200.0,Mazowieckie
114,114,Ford,Fiesta Mk7,2009.0,Benzyna,1200.0,163000.0,18900.0,Śląskie
115,115,Renault,Trafic II,2006.0,Diesel,2463.0,186000.0,19800.0,Śląskie
116,116,Infiniti,QX70,2016.0,Benzyna,3696.0,39396.0,215000.0,Śląskie
117,117,Audi,A4 B6,2002.0,Diesel,1896.0,249000.0,15999.0,Podlaskie
118,118,Škoda,Octavia I,2002.0,Benzyna,2000.0,186000.0,11900.0,Podlaskie
119,119,Škoda,Octavia II,2010.0,Diesel,1968.0,131000.0,29800.0,Dolnośląskie
120,120,BMW,Seria 5 E60,2004.0,Diesel,2500.0,214226.0,16300.0,Pomorskie
121,121,Hyundai,Tucson II,2017.0,Benzyna,1591.0,1.0,90860.0,Śląskie

In [23]:
#wyświelenie wskazanych kolumn wszystkich wierszy
cars.iloc[: , 1:4]

          marka        model  rok_produkcji
0        Nissan  X-Trail III         2014.0
1           BMW       X1 E84         2012.0
2          Opel     Zafira A         2004.0
3       Hyundai        i10 I         2008.0
4    Volkswagen           CC         2010.0
..          ...          ...            ...
995  Alfa Romeo          159         2009.0
996       Škoda     Fabia II         2012.0
997     Renault        Modus         2004.0
998        Audi        A3 8L         2000.0
999       Volvo      XC 60 I         2016.0

[1000 rows x 3 columns]

In [26]:
#zwraca ilość zliczonych elementów podanej kolumny
cars['marka'].value_counts()

Opel             105
Volkswagen        92
Audi              70
BMW               66
Mercedes-Benz     59
Renault           59
Ford              59
Toyota            49
Peugeot           41
Citroën           40
Škoda             36
Nissan            33
Fiat              33
Hyundai           31
Honda             25
Kia               25
Volvo             24
Mazda             21
Seat              20
Mitsubishi        18
Suzuki            16
Chevrolet         11
Mini              11
Lexus              7
Jeep               6
Dodge              5
Land Rover         5
Dacia              5
Alfa Romeo         5
SsangYong          3
Saab               3
Daewoo             2
Porsche            2
Smart              2
Infiniti           2
Jaguar             2
Chrysler           1
Pontiac            1
Lancia             1
Maserati           1
Subaru             1
Ligier             1
Daihatsu           1
Name: marka, dtype: int64

In [27]:
#zwraca pojazdy z ceną mniejszą niż 5000
cars[cars.cena < 5000]

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
34,34,Citroën,Xsara II,2002.0,Benzyna,1600.0,216005.0,4699.0,Świętokrzyskie
46,46,Honda,Civic VIII,1997.0,Benzyna,1400.0,200000.0,2500.0,Mazowieckie
68,68,Pontiac,Trans Sport,1994.0,Benzyna+LPG,3100.0,199000.0,4800.0,Dolnośląskie
105,105,Suzuki,Alto,2002.0,Benzyna,1100.0,72900.0,4300.0,Zachodniopomorskie
192,192,Renault,Thalia,2004.0,Diesel,1461.0,250000.0,3900.0,Mazowieckie
194,194,Citroën,Xsara Picasso,2000.0,Benzyna,1800.0,196421.0,2900.0,Wielkopolskie
195,195,Volvo,V40 I,2001.0,Diesel,1900.0,310600.0,4500.0,Małopolskie
201,201,Ford,Focus Mk1,2000.0,Benzyna,2000.0,195246.0,4200.0,Lubuskie
210,210,Fiat,Doblo I,2002.0,Diesel,1900.0,300000.0,4999.0,Lubelskie
238,238,Mercedes-Benz,W124 (1984-1993),1991.0,Diesel,1997.0,647000.0,4000.0,Zachodniopomorskie
249,249,Daewoo,Tico,2000.0,Benzyna,796.0,188200.0,650.0,Opolskie
251,251,Volkswagen,Golf IV,2001.0,Benzyna,1600.0,200000.0,4950.0,Mazowieckie
300,300,Alfa Romeo,147,2002.0,Benzyna,2000.0,200000.0,4100.0,Lubelskie
321,321,Volkswagen,Polo III,1998.0,Benzyna,1043.0,137153.0,1900.0,Mazowieckie
325,325,Citroën,Berlingo I,2001.0,Benzyna,1360.0,186000.0,4600.0,Wielkopolskie
329,329,Volkswagen,Golf IV,1999.0,Benzyna,1400.0,140000.0,3200.0,Lubuskie
348,348,Fiat,Punto II,2003.0,Benzyna,1242.0,181000.0,2800.0,Wielkopolskie
487,487,Mitsubishi,Colt CJ0,2002.0,Benzyna,1299.0,282000.0,2200.0,Dolnośląskie
497,497,Fiat,Brava,1998.0,Benzyna,1400.0,136000.0,900.0,Śląskie
534,534,Peugeot,306,1999.0,Benzyna,1600.0,97700.0,3999.0,Wielkopolskie
591,591,Volkswagen,Passat B5,1999.0,Diesel,1900.0,250000.0,4800.0,Mazowieckie
626,626,Mitsubishi,Colt CJ0,1997.0,Benzyna,1300.0,219000.0,899.0,Zachodniopomorskie
657,657,Daewoo,Espero,1996.0,Benzyna,1795.0,133300.0,3200.0,Mazowieckie
658,658,BMW,Seria 3 E36,1999.0,Benzyna,1600.0,287247.0,2500.0,Świętokrzyskie
743,743,BMW,Seria 3 E36,1997.0,Benzyna,1596.0,176100.0,3900.0,Świętokrzyskie
795,795,Opel,Agila A,2003.0,Benzyna,1000.0,202000.0,4000.0,Zachodniopomorskie
802,802,Opel,Astra G,2000.0,Diesel,1995.0,303000.0,4500.0,Wielkopolskie
901,901,Seat,Ibiza II,2001.0,Benzyna,1400.0,178524.0,4700.0,Podkarpackie
913,913,Fiat,Seicento,2003.0,Benzyna,1100.0,59000.0,4900.0,Małopolskie
975,975,Opel,Astra G,1998.0,Benzyna+LPG,1400.0,180500.0,4500.0,Lubelskie

In [29]:
#transpozycja  zawartości pliku
cars.T

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
id,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
marka,Nissan,BMW,Opel,Hyundai,Volkswagen,Fiat,Nissan,Seat,Volkswagen,Nissan,...,Mercedes-Benz,Chevrolet,Renault,Fiat,Fiat,Alfa Romeo,Škoda,Renault,Audi,Volvo
model,X-Trail III,X1 E84,Zafira A,i10 I,CC,500,X-Trail I,Toledo II,CC,Juke,...,Klasa S W126,Cruze,Clio IV,Tipo II,Bravo II,159,Fabia II,Modus,A3 8L,XC 60 I
rok_produkcji,2014,2012,2004,2008,2010,2014,2004,2000,2014,2016,...,1986,2010,2017,2017,2007,2009,2012,2004,2000,2016
rodzaj_silnika,Diesel,Diesel,Benzyna+CNG,Benzyna,Diesel,Elektryczny,Diesel,Benzyna,Diesel,Benzyna,...,Benzyna+LPG,Benzyna,Benzyna,Benzyna,Diesel,Diesel,Benzyna,Benzyna,Benzyna,Diesel
pojemnosc_silnika,1600,2000,1600,1100,1968,1,2200,1800,1968,1197,...,2600,1598,898,1400,1910,2387,1200,1200,1595,1969
przebieg,160000,149000,99000,93000,127428,36800,174000,140700,52000,18000,...,336000,7560,1,2,217200,182000,42700,168111,226500,13617
cena,75900,70900,9800,11900,49900,74200,23200,8150,97000,56900,...,21500,21900,58000,47350,18900,33900,25400,10900,5400,136900
wojewodztwo,Dolnośląskie,Świętokrzyskie,Opolskie,Łódzkie,Wielkopolskie,Śląskie,Dolnośląskie,Pomorskie,Pomorskie,Mazowieckie,...,Świętokrzyskie,Warmińsko-mazurskie,Śląskie,Mazowieckie,Świętokrzyskie,Małopolskie,Lubelskie,Łódzkie,Małopolskie,Małopolskie

In [30]:
#wyświetlenie typów każdej z kolumn
cars.dtypes

id                     int64
marka                 object
model                 object
rok_produkcji        float64
rodzaj_silnika        object
pojemnosc_silnika    float64
przebieg             float64
cena                 float64
wojewodztwo           object
dtype: object

In [31]:
#sortowanie według ceny
cars.sort_values('cena')

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
249,249,Daewoo,Tico,2000.0,Benzyna,796.0,188200.0,650.0,Opolskie
626,626,Mitsubishi,Colt CJ0,1997.0,Benzyna,1300.0,219000.0,899.0,Zachodniopomorskie
497,497,Fiat,Brava,1998.0,Benzyna,1400.0,136000.0,900.0,Śląskie
321,321,Volkswagen,Polo III,1998.0,Benzyna,1043.0,137153.0,1900.0,Mazowieckie
487,487,Mitsubishi,Colt CJ0,2002.0,Benzyna,1299.0,282000.0,2200.0,Dolnośląskie
...,...,...,...,...,...,...,...,...,...
410,410,BMW,Seria 7 G11/12,2017.0,Hybryda,2000.0,10000.0,469900.0,Mazowieckie
517,517,Audi,RS7,2016.0,Benzyna,3993.0,10000.0,514000.0,Mazowieckie
855,855,Land Rover,Range Rover Sport II,2016.0,Benzyna,4999.0,20000.0,529900.0,Mazowieckie
586,586,Mercedes-Benz,Klasa G W463,2013.0,Benzyna,5500.0,4900.0,579000.0,Pomorskie
405,405,Mercedes-Benz,SL R231,2016.0,Benzyna,4663.0,2000.0,616000.0,Mazowieckie

In [32]:
#sortowanie według ceny malejąco
cars.sort_values('cena',ascending=False)

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
405,405,Mercedes-Benz,SL R231,2016.0,Benzyna,4663.0,2000.0,616000.0,Mazowieckie
586,586,Mercedes-Benz,Klasa G W463,2013.0,Benzyna,5500.0,4900.0,579000.0,Pomorskie
855,855,Land Rover,Range Rover Sport II,2016.0,Benzyna,4999.0,20000.0,529900.0,Mazowieckie
517,517,Audi,RS7,2016.0,Benzyna,3993.0,10000.0,514000.0,Mazowieckie
410,410,BMW,Seria 7 G11/12,2017.0,Hybryda,2000.0,10000.0,469900.0,Mazowieckie
...,...,...,...,...,...,...,...,...,...
487,487,Mitsubishi,Colt CJ0,2002.0,Benzyna,1299.0,282000.0,2200.0,Dolnośląskie
321,321,Volkswagen,Polo III,1998.0,Benzyna,1043.0,137153.0,1900.0,Mazowieckie
497,497,Fiat,Brava,1998.0,Benzyna,1400.0,136000.0,900.0,Śląskie
626,626,Mitsubishi,Colt CJ0,1997.0,Benzyna,1300.0,219000.0,899.0,Zachodniopomorskie
249,249,Daewoo,Tico,2000.0,Benzyna,796.0,188200.0,650.0,Opolskie

In [34]:
#wyświetla posortowane dane według podanych kolumn
cars.sort_values(by=["marka","model"])

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
300,300,Alfa Romeo,147,2002.0,Benzyna,2000.0,200000.0,4100.0,Lubelskie
213,213,Alfa Romeo,156,2004.0,Diesel,1900.0,284000.0,6900.0,Lubelskie
370,370,Alfa Romeo,159,2007.0,Diesel,1900.0,190000.0,19000.0,Mazowieckie
995,995,Alfa Romeo,159,2009.0,Diesel,2387.0,182000.0,33900.0,Małopolskie
705,705,Alfa Romeo,Spider,1995.0,Benzyna+LPG,2000.0,175000.0,10000.0,Małopolskie
...,...,...,...,...,...,...,...,...,...
334,334,Škoda,RAPID,2017.0,Diesel,1422.0,1.0,63800.0,Dolnośląskie
750,750,Škoda,RAPID,2016.0,Benzyna,1200.0,3400.0,55900.0,Wielkopolskie
159,159,Škoda,Superb III,2016.0,Diesel,2000.0,15000.0,152900.0,Śląskie
295,295,Škoda,Superb III,2017.0,Diesel,2000.0,5.0,135990.0,Pomorskie
957,957,Škoda,Superb III,2016.0,Benzyna,1984.0,7000.0,139900.0,Śląskie

In [35]:
#wyświetla tablice której zawartość została sprowadzona do wspolnego typu danych (Object)
cars.to_numpy()

array([[0, 'Nissan', 'X-Trail III', ..., 160000.0, 75900.0,
        'Dolnośląskie'],
       [1, 'BMW', 'X1 E84', ..., 149000.0, 70900.0, 'Świętokrzyskie'],
       [2, 'Opel', 'Zafira A', ..., 99000.0, 9800.0, 'Opolskie'],
       ...,
       [997, 'Renault', 'Modus', ..., 168111.0, 10900.0, 'Łódzkie'],
       [998, 'Audi', 'A3 8L', ..., 226500.0, 5400.0, 'Małopolskie'],
       [999, 'Volvo', 'XC 60 I', ..., 13617.0, 136900.0, 'Małopolskie']],
      dtype=object)

In [36]:
#wyświetla pojazdy wyprodukowane przed 1990
cars[cars.rok_produkcji < 1990]

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
130,130,Mercedes-Benz,Klasa S W126,1984.0,Benzyna,2800.0,147400.0,37500.0,Mazowieckie
484,484,Opel,Senator,1986.0,Benzyna,3000.0,89000.0,14999.0,Podkarpackie
611,611,Chevrolet,Camaro,1979.0,Benzyna,4903.0,99999.0,36000.0,Dolnośląskie
650,650,Mercedes-Benz,W124 (1984-1993),1988.0,Benzyna,2300.0,270000.0,11900.0,Mazowieckie
704,704,Mercedes-Benz,Klasa S W126,1984.0,Benzyna,5000.0,284205.0,37500.0,Lubelskie
990,990,Mercedes-Benz,Klasa S W126,1986.0,Benzyna+LPG,2600.0,336000.0,21500.0,Świętokrzyskie

In [37]:
#wyświetla średnią każdej z kolumn
cars.mean()

id                      499.500
rok_produkcji          2009.009
pojemnosc_silnika      2040.065
przebieg             132556.677
cena                  51942.181
dtype: float64

In [40]:
#sumowanie kolejnych wartości każdego z rekordów
cars[720:730].apply(np.cumsum)

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
720,720,Opel,Vectra C,2007.0,Diesel,1910.0,209000.0,20500.0,Mazowieckie
721,1441,OpelNissan,Vectra CAlmera N16,4012.0,DieselBenzyna,3407.0,363285.0,30400.0,MazowieckieWarmińsko-mazurskie
722,2163,OpelNissanFord,Vectra CAlmera N16Mondeo Mk4,6027.0,DieselBenzynaDiesel,5404.0,533285.0,81399.0,MazowieckieWarmińsko-mazurskieWielkopolskie
723,2886,OpelNissanFordHonda,Vectra CAlmera N16Mondeo Mk4Civic X,8044.0,DieselBenzynaDieselBenzyna,6902.0,533290.0,179399.0,MazowieckieWarmińsko-mazurskieWielkopolskieWie...
724,3610,OpelNissanFordHondaOpel,Vectra CAlmera N16Mondeo Mk4Civic XTigra II,10049.0,DieselBenzynaDieselBenzynaBenzyna,8702.0,695290.0,189199.0,MazowieckieWarmińsko-mazurskieWielkopolskieWie...
725,4335,OpelNissanFordHondaOpelMazda,Vectra CAlmera N16Mondeo Mk4Civic XTigra II2 III,12065.0,DieselBenzynaDieselBenzynaBenzynaBenzyna,10202.0,700171.0,240099.0,MazowieckieWarmińsko-mazurskieWielkopolskieWie...
726,5061,OpelNissanFordHondaOpelMazdaMaserati,Vectra CAlmera N16Mondeo Mk4Civic XTigra II2 I...,14081.0,DieselBenzynaDieselBenzynaBenzynaBenzynaBenzyna,10232.0,700211.0,635099.0,MazowieckieWarmińsko-mazurskieWielkopolskieWie...
727,5788,OpelNissanFordHondaOpelMazdaMaseratiBMW,Vectra CAlmera N16Mondeo Mk4Civic XTigra II2 I...,16091.0,DieselBenzynaDieselBenzynaBenzynaBenzynaBenzyn...,12232.0,934211.0,681999.0,MazowieckieWarmińsko-mazurskieWielkopolskieWie...
728,6516,OpelNissanFordHondaOpelMazdaMaseratiBMWOpel,Vectra CAlmera N16Mondeo Mk4Civic XTigra II2 I...,18108.0,DieselBenzynaDieselBenzynaBenzynaBenzynaBenzyn...,13832.0,934226.0,750799.0,MazowieckieWarmińsko-mazurskieWielkopolskieWie...
729,7245,OpelNissanFordHondaOpelMazdaMaseratiBMWOpelRen...,Vectra CAlmera N16Mondeo Mk4Civic XTigra II2 I...,20111.0,DieselBenzynaDieselBenzynaBenzynaBenzynaBenzyn...,15832.0,1135886.0,759699.0,MazowieckieWarmińsko-mazurskieWielkopolskieWie...

In [41]:
#zwraca wartości true w tam gdzie zawartość jest NaN
pd.isna(cars)

,id,marka,model,rok_produkcji,rodzaj_silnika,pojemnosc_silnika,przebieg,cena,wojewodztwo
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False

In [45]:
#grupowanie po konkretnych wartościach
cars.groupby(["marka", "rok_produkcji"]).sum()

                            id  pojemnosc_silnika  przebieg      cena
marka      rok_produkcji
Alfa Romeo 1995.0          705             2000.0  175000.0   10000.0
           2002.0          300             2000.0  200000.0    4100.0
           2004.0          213             1900.0  284000.0    6900.0
           2007.0          370             1900.0  190000.0   19000.0
           2009.0          995             2387.0  182000.0   33900.0
...                        ...                ...       ...       ...
Škoda      2013.0          313             1600.0  146000.0   21900.0
           2014.0         1323             3196.0  166926.0   79800.0
           2015.0          285              999.0   63578.0   35400.0
           2016.0         2286             7981.0   42263.0  505000.0
           2017.0         3206            10812.0    4226.0  671980.0

[396 rows x 4 columns]